.parallax-section {
  height: 100vh; /* Full height */
  position: relative;
  overflow: hidden;
}

#section1, #section2, #section3 {
  position: relative;
  z-index: 1;
}

#section1::after, #section2::after, #section3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../media/ab1.png') center center no-repeat fixed; 
  background-size: cover;
  opacity: 0.75; 
  z-index: -1;
}


.parallax-content {
  position: absolute;
  top: 40%;
  left: 49.4%;
  transform: translate(-50%, -50%);
  color: white; 
  text-align: center;
}

.icon {
  margin-bottom: 1rem;
}

